VITE_SUPABASE_URL=https://vxnohqhaomaleftnlpyl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4bm9ocWhhb21hbGVmdG5scHlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5OTExMTcsImV4cCI6MjA5MDU2NzExN30.CsHdeC2lrgG4aqJXz7tg2nAHcjMQ7rEfqMdNlVu4140

VITE_GEMINI_API_KEY=AIzaSyBBuWbOY4hWMVFkNvH1Rm4kGpLzgnkCVWg
VITE_GEMINI_MODEL=gemini-2.5-flash

VITE_APP_URL=http://localhost:5173
